body{
	margin:0px;
	padding:0px;
	font-family: arial;
	font-size: 16px;
}

a{
	color:rgb(39, 39, 219);
}

a:hover{
	color:rgb(221, 42, 42);
	cursor: pointer;
}

#main{
	width: 800px;
	margin: 20px auto;
	border: 1px solid;
}

	header{
		border-bottom: 1px solid;
		height: 65px;
		position: relative;
	}
		
		header ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
			display: flex;
			position: absolute;
			bottom: 0px;
		}
			
			header ul li{
				
			}
	
	#main > section{
		display: flex;
		min-height: 400px;
	}
	
	#main h1{
		margin: 0px;
		font-size: 24px;
	}
	
	#main h2{
		margin: 0px;
		font-size: 20px;
	}
	
	#main h3{
		margin: 0px;
		font-size: 18px;
	}
	
		.subnav{
			display: flex;
			flex-direction: column;
			width: 160px;
			border-right: 1px solid;
		}
		
			.subnav button{
				
			}
			
		#main > section section{
			padding:10px;
			width: 100%;
		}
	
	